{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<style>
    body {
        background-color: #e0e5e9;
    }

    a:link {
        text-decoration: none;
    }

    #solicitacao {
        transition: all 0.3s linear;
    }

    #solicitacao:hover {
        background: #42586a !important;
        color: #fff;
        transition: all 0.3s linear;
    }
</style>
<title>Projeção Webdesk</title>