{% extends 'base.html'%}
{% block conteudo %}
{% load humanize %}

<div class="container">
    <div style="margin-top: 30px; margin-bottom: 30px">
        <a class="btn btn-primary btn-lg" href="{% url 'solicitacao-create' %}" role="button">Novo
            chamado</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            {%for solicitacao in object_list%}
            <a class="link-cards" href="{% url 'solicitacao-form' solicitacao.id %}">
                <div class="card">
                    <div id="solicitacao" class="card-body" style="background:  #5cb85c; color: white;">
                        <h5 class="card-title">{{solicitacao.data_criacao|naturalday|title}}</h5>
                        <div style="float:left;">
                            <p class="card-text">Contato: {{solicitacao.solicitante.nome}}</p>
                            <p class="card-text">Solicitação para: {{solicitacao.usuario.username}}</p>
                        </div>
                        <div style="float:right;">
                            {% if solicitacao.patrimonio %}
                            <p class="card-text">Patrimonio: {{solicitacao.patrimonio}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            </a>

        </div>
        <div class="col-sm-2">
            <div class="card sticky-top">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="background: #5cb85c; color: white">Aberto</li>
                    <li class="list-group-item" style="background: #f0ad4e; color: white">Em atendimento</li>
                    <li class="list-group-item" style="background: #5bc0de; color: white">Empenho</li>
                    <li class="list-group-item" style="background: #d9534f; color: white">Terceiros</li>
                    <li class="list-group-item" style="background: #777777; color: white">Finalizado</li>

                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}