{% extends 'base.html'%}
{% block conteudo %}
{% load humanize %}

<div class="container">
    <div style="margin-top: 30px; margin-bottom: 30px">
        <a class="btn btn-primary btn-lg" href="{% url 'solicitacao-create' %}" role="button">Novo
            chamado</a>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            {%for solicitacao in object_list%}
            <a class="link-cards" href="{% url 'solicitacao-form' solicitacao.id %}">
                <div class="card">
                    <div id="solicitacao" class="card-body"
                        style="background:  {{solicitacao.status.cor}}; color: white">
                        <h5 class="card-title">{{solicitacao.data_criacao|naturalday|title}}</h5>
                        <div style="float:left;">
                            <p class="card-text">Contato: {{solicitacao.solicitante.nome}}</p>
                            <p class="card-text">Solicitação para: {{solicitacao.usuario.first_name}}</p>
                        </div>
                        <div style="float:right;">
                            {% if solicitacao.patrimonio %}
                            <p class="card-text">Patrimonio: {{solicitacao.patrimonio}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            </a>

        </div>
        <div class="col-sm-2">
            <div class="card sticky-top">
                <ul class="list-group list-group-flush">
                    {% for status in status_list %}
                    <li class="list-group-item" style="background:  {{status.cor}}; color: white">
                        {{status.nome}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}