{% extends 'base.html'%}
{% block conteudo %}

<div class="container">
    <div style="margin-top: 30px; margin-bottom: 30px">
        <a class="btn btn-primary btn-lg" href="{%url 'nova_solicitacao'%}" role="button">Novo chamado</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            {% for solicitacao in solicitacoes %}
            {% if solicitacao.status_id == 1 %}
            <a class="link-cards" href="url /solicitacoes/{{solicitacao.id}}/change/">
                <div class="card">
                    <div id="solicitacao" class="card-body" style="background: #5cb85c; color: white;">
                        <h5 class="card-title">{{solicitacao.data_criacao}}</h5>
                        <div style="float:left;">
                            <p class="card-text">Contato: {{solicitacao.solicitante.nome}}</p>
                            <p class="card-text">Solicitação para: {{solicitacao.usuario.username}}</p>
                        </div>
                        <div style="float:right;">
                            {% if solicitacao.patrimonio %}
                            <p class="card-text">Patrimonio: {{solicitacao.patrimonio}}</p>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
            {% for solicitacao in solicitacoes %}
            {% if solicitacao.status_id == 2 %}
            <a href="/admin/helpdesk/solicitacoes/{{solicitacao.id}}/change/"
                style="cursor: pointer; text-decoration:none">
                <div class="card">
                    <div id="solicitacao" class="card-body" style="background: #f0ad4e; color: white">
                        <h5 class="card-title">{{solicitacao.data_criacao}}</h5>
                        <div style="float:left;">
                            <p class="card-text">Contato: {{solicitacao.solicitante.nome}}</p>
                            <p class="card-text">Solicitação para: {{solicitacao.usuario.username}}</p>
                        </div>
                        <div style="float:right;">
                            {% if solicitacao.patrimonio %}
                            <p class="card-text">Patrimonio: {{solicitacao.patrimonio}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
            {% for solicitacao in solicitacoes %}
            {% if solicitacao.status_id == 3 %}
            <a href="/helpdesk/{{solicitacao.id}}" style="cursor: pointer; text-decoration:none">
                <div class="card">
                    <div id="solicitacao" class="card-body" style="background: #5bc0de; color: white">
                        <h5 class="card-title">{{solicitacao.data_criacao}}</h5>
                        <div style="float:left;">
                            <p class="card-text">Contato: {{solicitacao.solicitante.nome}}</p>
                            <p class="card-text">Solicitação para: {{solicitacao.usuario.username}}</p>
                        </div>
                        <div style="float:right;">
                            {% if solicitacao.patrimonio %}
                            <p class="card-text">Patrimonio: {{solicitacao.patrimonio}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
            {% for solicitacao in solicitacoes %}
            {% if solicitacao.status_id == 4 %}
            <a href="/admin/helpdesk/solicitacoes/{{solicitacao.id}}/change/"
                style="cursor: pointer; text-decoration:none">
                <div class="card">
                    <div id="solicitacao" class="card-body" style="background: #d9534f; color: white">
                        <h5 class="card-title">{{solicitacao.data_criacao}}</h5>
                        <div style="float:left;">
                            <p class="card-text">Contato: {{solicitacao.solicitante.nome}}</p>
                            <p class="card-text">Solicitação para: {{solicitacao.usuario.username}}</p>
                        </div>
                        <div style="float:right;">
                            {% if solicitacao.patrimonio %}
                            <p class="card-text">Patrimonio: {{solicitacao.patrimonio}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
            {% for solicitacao in solicitacoes %}
            {% if solicitacao.status_id == 5 %}
            <a href="/admin/helpdesk/solicitacoes/{{solicitacao.id}}/change/"
                style="cursor: pointer; text-decoration:none">
                <div class="card">
                    <div id="solicitacao" class="card-body" style="background: #777777; color: white">
                        <h5 class="card-title">{{solicitacao.data_criacao}}</h5>
                        <div style="float:left;">
                            <p class="card-text">Contato: {{solicitacao.solicitante.nome}}</p>
                            <p class="card-text">Solicitação para: {{solicitacao.usuario.username}}</p>
                        </div>
                        <div style="float:right;">
                            {% if solicitacao.patrimonio %}
                            <p class="card-text">Patrimonio: {{solicitacao.patrimonio}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-sm-2">
            <div class="card sticky-top">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="background: #5cb85c; color: white">Aberto</li>
                    <li class="list-group-item" style="background: #f0ad4e; color: white">Em atendimento</li>
                    <li class="list-group-item" style="background: #5bc0de; color: white">Empenho</li>
                    <li class="list-group-item" style="background: #d9534f; color: white">Terceiros</li>
                    <li class="list-group-item" style="background: #777777; color: white">Finalizado</li>

                </ul>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}